@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

.green{background-color: green;}
.red{background-color: red;}
.blue{background-color: blue;}
.white{background-color: white;}
.pink{background-color: pink;}
.brown{background-color: brown;}

.left{
    float:left;
}



/*----------BOUDDHA MENU ----------*/
.enlarge{
    width:200px;
    transition-property: width;
    transition: 0.6s;
}
.lesslarge{
    width:100px;
    transition-property: width;
    transition: 0.6s;
}
.moveUp{
    transform: translate(30px, -180px);
    transition: 0.6s;
}
.moveDown{
    transform: translate(0, 0);
    transition: 0.6s;
}
.menuBda{
    position: relative;
    box-sizing: border-box;
    left:-1000px;
    top:200px;
    width: 240px;
    margin:0;
    text-align:center;
    z-index:9999;
}
.moveRight{
    transform: translate(990px, 0);
    transform: scale(20%);
    transition: 1s;
}
.moveBack{
    transform: translate(-990px, 0);
    transform: scale();
    transition: 1.2s;
}
.menuBda ul{
    box-sizing: border-box;
    margin:0;padding:0;
    list-style-type: none;
}
.menuBda ul li{
    cursor:pointer;
    width:100%;
    margin:0;
    overflow-x: hidden;
    font-size: 12px;
    line-height:40px;
    font-weight:300;
    text-align: center;
}
.menuBda .cta{
    background-color:rgba(255,255,255,.9);
}
.menuBdaFirst{
    border-radius:5px 5px 0 0;
}
.menuBda .cta:nth-child(1){
    background-color:rgba(255,255,255,.7);
    border-radius:5px 5px 0 0;
}
.menuBda .cta:nth-child(5){
    background-color:rgba(255,255,255,.7);
}
.menuBda .cta:nth-child(7){
    background-color:rgba(255,255,255,.7);
}
.menuBda .cta:last-child{
    border-radius:0 0 5px 5px;
}
.cta::before{
    position:relative;
    display:inline-block;
    top:0px;
    left:-200px;
    content:"↓";
    transition: all 0.5s;
}
.cta::after{
    position:relative;
    display:inline-block;
    top:0;
    left:200px;
    content:"↓";
    transition: all 0.5s;
}

.cta:hover::before{
    top:0;
    left:-40px;
    content:"↓";
}
.cta.openbox::before {
    top:0;
    left:-40px;
    content:"↓";
}
.cta:hover::after{
    top:0;
    left:40px;
    content:"↓";
}
.cta.openbox::after {
    top:0;
    left:40px;
    content:"↓";
}
.toolbox{
    font-size: 12px;
    padding:8px 15px;
    margin:5px auto;
    height:auto;
    width:auto;
    background-color:#fff;
    border:1px solid #fff;
    border-radius:3px;
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, .4);
}
.toolbox:hover{
    position:relative;
    cursor: pointer;
    top:1px;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, .4);
}
.toolboxS{
    font-size: 12px;
    padding:5px 10px;
    margin:5px;
    height:auto;
    width:auto;
    background-color:#fff;
    border:1px solid #fff;
    border-radius:3px;
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, .4);
    opacity: 0;
}
.toolboxS:hover{
    position:relative;
    cursor: pointer;
    top:1px;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, .4);
}
.opacity1{
    opacity: 1;
}
.boxMenu{
    position: relative;
    box-sizing: border-box;
    width: 240px;
    margin:0;
    text-align:center;
    border-radius:0 0 5px 5px;
    padding:15px 20px;
}
#boxThemes ul{
    box-sizing: border-box;
    text-align:center;
    margin:0;padding:0;

}
#boxThemes ul li{
    display: inline-block;
    width:10px;
    height:10px;
    border-radius:10px;
    border:2px solid grey;
    margin:10px 15px 0 0;
}
.para{
    font-size: 12px;
    line-height:16px;
    text-align: justify;
    letter-spacing:0.7pt;
    color:#666666;
    margin:0;
    width:100%;
    padding:0;
}
input{
    color:#666;
    width: 80%;
    margin:5px 0;
    padding: 10px;
    border:0;
    border-radius:3px;
}
.addSite{
    border-radius: 6px;   
}
.choixlogos{
    border-radius: 6px; 
}
.titre{
    display: block;
    height:40px;
    background-color:rgba(255,255,255,.8);
    border-radius: 6px 6px 0 0
    font-size:30px;
    font-weight:900;
    text-align: left;
    padding-left:30px;
}
.close{
    float: right;
    height:30px;
    font-size:20px;
    line-height:30px;
    margin:2px 10px;
}
.repli{
    transition: all 0.5s;
    transform: scale(1,0);
}
.depli{
    transition: all 0.5s;
    transform: scale(1,1);
}
.turn:before{
    transition: all 0.5s;
    transform: rotate(180deg);
}
.turn:after{
    transition: all 0.5s;
    transform: rotate(-180deg);
}

/* -----------MENU ADD SITE------------- */

#ajouterFavForm{
    position:absolute;
    box-sizing: border-box;
    top:30px;
    left:2%;
}
.ajouterFav{
    display:inline-block;
}
.addSite{
    background-color:rgb(218,219,218);
    position: absolute;
    top:-1000px;
    left:-1000px;
    box-sizing: border-box;
    width:300px;
    height:auto;
    padding-bottom:10px; 
    text-align: center;
    border-radius: 3px;
    z-index:9999;
}
.titre{
    display: block;
    height:40px;
    background-color:#fff;
    border-radius: 3px 3px 0 0;
    font-size:30px;
    text-align: left;
    padding-left:30px;
}
.close{
    float: right;
    height:30px;
    font-size:20px;
    line-height:30px;
    margin:2px 10px;
}
.logoCentral{
    overflow: hidden;
    width:80px;
    height:80px;
    margin:30px 5px 10px 110px;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, .4);
}
input{
    color:#666;
    width: 80%;
    margin:5px 0;
    padding: 5px;
    border:0;
    border-radius:3px;
    font-size: 12px;
}
#urlSiteBis{
    position: absolute;
    top:-1000px;
    left:-1000px;
    color:#666;
    width: 200px;
    margin:5px 0;
    padding: 5px;
    border:0;
    border-radius:3px;
    font-size: 12px;
    z-index:9999;
}
.ctaGliss{
    margin-top:34px;
    text-align:left;
} 

/* -----------CHOIX LOGO------------- */

.choixLogos{
    position: absolute;
    top:30px;
    left:30px;
    width: 280px;
    height:280px;
    box-sizing: border-box;
    overflow-y: scroll;
    background-color: #848484;
    padding:10px;
    border-radius:6px;
    z-index:9999;
    opacity:0;
    transition: .5s;
}
.choixLogoOpen{
    opacity:1;
    top:30px;
    left:330px;
}
.choixLogos img{
    margin:3px 5px;
    width: 50px;
}