@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

.green .fonce, .green.corp {background-color: #003300;}
.green .moyen {background-color: #004d00;}
.green .clair {background-color: #008000;}
.green .txtclair {color: #008000;}

.red .fonce, .red.corp {background-color: #330000;}
.red .moyen {background-color: #800000;}
.red .clair {background-color: #e60000;}
.red .txtclair {color: #e60000; }

.blue .fonce, .blue.corp {background-color: #001E43;}
.blue .moyen {background-color: #00578A;}
.blue .clair {background-color: #0187D7;}
.blue .txtclair {color: #0D9EF4;}

.white .fonce, .white.corp {background-color: #404040;}
.white .moyen{background-color: #ffffff;}
.white .clair {background-color: #999999;}
.white .txtclair {color: #999999; }

.pink .fonce, .pink.corp {background-color: #4d004d;}
.pink .moyen {background-color: #990099;}
.pink .clair {background-color: #ff00ff;}
.pink .txtclair {color: #ff00ff;}

.brown .fonce, .brown.corp{background-color: #392714;}
.brown .moyen {background-color: #714e28;}
.brown .clair {background-color: #bd8242;}
.brown .txtclair {color: #bd8242; }


body {
	font-size: 0;
	font-family: 'Roboto',arial;
	position: relative;
	height: 100vh;
	box-sizing: border-box;
	margin:0;
	padding:0;
}

.filtreOff{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: black;
	opacity:0;
	pointer-events: none;
	z-index: 999;
}
.filtreOn{
	pointer-events: auto;
	opacity:0.7;
	transition: 1s;
}

.general {
	width: 100%;
	height: 100vh;
 }

h1{
    font-family: 'Roboto';
    text-transform: capitalize;
    font-size:20px;
    line-height:40px;
    font-weight:100;
    margin:0;padding:0;
}
.hide{
    display:none;
}
.disappear{
    transition: all 0.5s;
    opacity: 0;   
}
.appear{
    transition: all 0.5s;
    opacity: 100;
}
.show{
    display:block!important;
    z-index: 9999;
}
/* -----------AFFICHAGE SECTIONS------------- */
.bouddha {
    position: relative;
    top:35vh;
    left:100px;
    float:left;
    margin: 0;
    width: 50px;
    height: 80px;
    z-index: 999;
}
.container{
	box-sizing: border-box;
	display:block;
	height:100vh;
	width:100vw;
	/*background: red;*/
	vertical-align: top;
}
.moveContainerDown{
	transform: translate(60px, 60px);
    transition: 0.6s;
}
.moveContainerTop{
	transform: translate(0, 0);
    transition: 0.6s;
}
.bda{
	float: left;
    top:0;
    left:0;
    width:100px;
    height:100vh;
    margin:0;
	padding:0;
	/*background: green;*/
}
#affichage{
	float: left;
	top:0;
    left:0;
	width: 70%;
	margin-top:20vh;
	box-sizing: border-box;
	display:block;
	/*background: orange;*/
}

/* -----------AFFICHAGE LIGNES------------- */


.ligne{
	display: inline-block;
	float:left;
	box-sizing: border-box;
	border-radius: 5px;
	/*background: #eee;*/
	margin:10px;
	padding:10px;
	width:100%;
}
.entete{
	font-family: 'Roboto';
	position: relative;
	display: block;
	box-sizing: border-box;
	float:left;
	width:100px;
	height:60px;
	margin:10px 5px;
	text-align: center;
	padding:0px;
	color:#ffffff;
	font-size:24px;
	font-weight: 100;
}
.pave{
	position: relative;
	display: block;
	box-sizing: border-box;
	float:left;
	margin:5px;
	text-align: center;
}
.pave span:nth-of-type(1), button{
	display: block;
	width:65px;
	height:65px;
	border-radius: 5px;
	background: rgba(255,255,255,.2);
	text-align: center;
	padding:0px;
	background-position: center center;
	background-size:contain;
	background-repeat:no-repeat;
}
button{
	outline: none;
	cursor: pointer;
	border:none;
	background-image: none;
}
.pave span:nth-of-type(2){
	width:50px;
	height:10px;
	font-size:10px;
	margin:0 auto;  
}
.pave:hover{
	transform: scale(0.8);
    transition: 0.5s; 
}
.fav:hover {
	transform: scale(1.1);
    transition: 0.5s; 
}
.ligne:hover .entete{
	transform: translateY(-10px);
    transition: 0.5s;
}
.modifIco{
	display:block;
	cursor: pointer;
	opacity: 0;
	position: relative;
	top:-30px;
	float:left;
	width:40%;
	margin-right:5%;
	height:30px;
	background-image: url(../images/pen_white_64.png);
	background-size: 30%;
	background-repeat: no-repeat;
	background-position: top right;
}
.supprIco{
	display:block;
	cursor: pointer;
	opacity: 0;
	position: relative;
	top:-30px;
	float:left;
	width:40%;
	margin-left:5%;
	height:30px;
	background-image: url(../images/dash_white_64.png);
	background-size: 30%;
	background-repeat: no-repeat;
	background-position: top left;
}
.ligne:hover .modifIco{
	transform-origin: top 0 left 0;
	transform: translateY(30px);
	opacity: 0.4;
    transition: 0.6s;
}
.ligne:hover .supprIco{
	transform-origin: 50% 50%;
	transform: translateY(30px);
	opacity: 0.4;
    transition: 0.6s;
}
.ligne .modifIco:hover{
	opacity:1;
	transition: 0.5s;
}
.ligne .supprIco:hover{
	opacity:1;
	transition: 0.5s;
}
.ligne:nth-of-type(4) h1{
	display:none;
}
.ligne:nth-of-type(4) .modifIco{
	top:0px;
	left:100px;
	height:20px;
	background-position: bottom center;
}
.ligne:nth-of-type(4) .supprIco{
	top:30px;
	left:50px;
	height:20px;
	background-position: top center;
}
.ligne:nth-of-type(4){
	position: fixed;
	bottom:0;
	left: 0;
	display: inline-block;
	float:left;
	box-sizing: border-box;
	border-radius: 0;
	background:#1a73b9;
	margin:0;
	padding:10px;
	width:100%;
	margin:0;
}
.ligne:nth-of-type(4):hover .modifIco{
	transform-origin: top 0 left 0;
	transform: translate(-40px, 10px);
    transition: 0.6s;
}
.ligne:nth-of-type(4):hover .supprIco{
	transform-origin: top 0 left 0;
	transform: translate(-40px, 10px);
    transition: 0.6s;
}
.pave.coche:after{
	content:"";
	position: absolute;
	display: block;
	top:0;left:0;
	background-image: url(../images/white-check_160.png);
	width:65px;
	height:65px;
	background-size:100%;
	background-repeat:no-repeat;
}
.pave span.modif{
	position: absolute;
	display: none;
	top:0;left:0;
	background-image: url(../images/white-pen_160.png);
	width:65px;
	height:65px;
	background-size:100%;
	background-repeat:no-repeat;
	z-index: 999;
}
.pave span.suppr{
	position: absolute;
	display: none;
	top:0;left:0;
	background-image: url(../images/white-dash_160.png);
	width:65px;
	height:65px;
	background-size:100%;
	background-repeat:no-repeat;
	z-index: 999;
}
.test{
	display:none;
}
.ligne:hover .test{
	display:block;
}
.choixLogo{
	left:300px;
}